.break {
    padding-top: 2vw;
}

.break-medium {
    padding-top:2vw;
    padding-bottom: 2vw;
}

.break-large {
    padding-top:4vw;
    padding-bottom: 4vw;
}

.cubano {
    font-family: "Cubano";
}

.interp {
    display: inline;
}



.main-bar {
    height: 6vw;
}

.padded-container {
    padding-top: 3%;
}

.secondary-bar {
    height: 3vw;
}



#dynamic1 {
    font-family: "Cubano";
}

#dynamic2 {
    font-family: "Cubano";
}

#dynamic3 {
    font-family: "Cubano";
}

#dynamic4 {
    font-family: "Cubano";
}

#dynamic5 {
    font-family: "Cubano";
}

h1 {
    font-size: 6vw;
}