body {
    font-family: "Cubano";
}
.bezos {
    width: 25%;
    height: auto;
    position: absolute;
    right:0;
    bottom:0;
}

.legend1 {
    border-radius: 4px;
    color: white;
    padding: 5px 13px 5px 10px;
}

.break {
    padding-top: 2vw;
}

.break-medium {
    padding-top:2vw;
    padding-bottom: 2vw;
}

.break-large {
    padding-top:4vw;
    padding-bottom: 4vw;
}


.interp {
    display: inline;
}



.main-bar {
    height: 6vw;
}

.padded-container {
    padding-top: 3%;
}

.secondary-bar {
    height: 3vw;
}



#dynamic1 {
    height: 100%;
}

#dynamic2 {
    height: 100%;
    background-color: #7FBA00;
}

#dynamic3 {
    height: 100%;
    background-color: #EF4135;
}

#dynamic4 {
    height: 100%;
    background-color: #4267B2;
}

#dynamic5 {
    height: 100%;
    background-color: #BFA161;
}





h1 {
    font-size: 6vw;
}


footer {
    padding: 2vw;
    background: rgb(235, 233, 233);
    text-align: center;
}

/* scroll down arrow */

.arrow {
    padding-top: 3vw;
    text-align: center;
    margin: 8% 0;
    display: none;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    }
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }
    40% {
    transform: translateY(-30px);
    }
    60% {
    transform: translateY(-15px);
    }
}

a { 
    color: black; 
    text-decoration: none; 
}

.value1 {
    color: rgba(0, 0, 0, 0);
}

  
  @media only screen and (min-width: 768px) {
    .arrow {
      display: block;
    }
    .value1 {
        color: rgb(255, 255, 255, 1);
    }
  }

/* heads on the progress bar */

.progress {
    position: relative;
}

.progress img {
    position: absolute;
}
  
.other-contenders {
      height: 100%;
}
